.Container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-field textarea{
  width: 20rem;
  height: 10rem;
}
.input-field .btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btns button{
  background-color: rgb(61, 112, 182);
}
.btns button:hover{
  background-color: green;
}